body {
	background-color:#dddbdb;

}

h1 {
	text-align: center; 
	font-size: 45px;
	font-family:;
	color: #762727;
}

h2 {
	font-size: 
	font-family:;
	color: #762727;

}

h3 {
	font-size: 
	font-family:;
	text-transform: uppercase;
	color: #ffffff;

}

p {
	font-style:;
	font-size:;
	color: #000000;
}

ul {
	align-items: 
	list-style-type: none;

}

ul li {
	background: #808080; 
}

img {

}

#list {
	color: #ffffff;
}

#slogan {
	text-align: center;
	font-style: italic;
	font-size: 30px;

}