@import url('https://fonts.googleapis.com/css?family=Cinzel|Open+Sans|Righteous');

body {
	background-color:#dddbdb;
	height: 100%;

}

h1 {
	text-align: center
	font-family:'Cinzel', serif; 
	font-size: 45px;
	color: #762727;
}

h2 {
	font-family:'Cinzel', serif;
	font-size: 
	color: #762727;

}

h3 {
	font-size: 
	font-family:'Cinzel', serif;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;

}

div {
	height: 200px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-style:;
	font-size:;
	color: #000000;
}

ul {
	align-items: center 

}

ul li {
	background: #808080; 
	list-style-type: none;
	width: 30%;
	display: inline-block;
}

img {

}

.list {
	color: #ffffff;
	padding:15px;
}

#slogan {
	text-align: center;
	font-family: 'Righteous', cursive;
	font-style: italic;
	font-size: 30px;

}

.fit {
	max-width: 100%;
}

.section {
	height: 100%;
	align-content: center;
}

#navigation-bar {
	height: 30px;
	color: #808080;
}

.logo {
	max-width: 20%;
	vertical-align: top;
}